* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  text-align: -webkit-center;
  font-family: "Sigmar One", cursive;
}

/********* score *********/
.score-container{
  display: flex;
  width: max-content;
  margin: auto;
  font-size: 3em;
}

.score-container span{ 
  padding: .2em .6em;
  background-color: #daa520;
  outline: 1px solid #000;
}

.score-container span:last-of-type{
  background-color: #c20027;
}

.table {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 90vw;
  border-radius: 15px;
  margin: 4em auto;
  background-color: #623000;
}

/********* containers ********/
.cards-container,
.table__cards-container,
.card,
.card__body,
.card__header,
.card__footer {
  display: flex;
}

.table__cards-container {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  padding: 2em 0;
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
}

.cards-container {
  justify-content: space-around;
  padding: 1.6em 0;
}

/************ cards **********/
.card {
  flex-direction: column;
  height: 250px;
  width: 150px;
  border: 4px ridge #000;
  border-radius: 10px;
  background-color: #c5c5c5;
}
.card--hidden {
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);
}

.card__header {
  padding: 0.4rem;
}
.card__header img {
  justify-self: flex-start;
}

.card__body {
  align-items: center;
  margin: auto;
  width: 80%;
  height: 80%;
  padding: 0.4rem;
  border: 2px solid #000;
  border-radius: 15px;
}
.card__body img {
  height: 100%;
  width: 100%;
}

.card__footer {
  justify-content: right;
  padding: 0.4rem;
}
.card__footer img {
  justify-self: flex-end;
  transform: rotate(180deg);
}

/********* buttons *********/
.button-area {
  justify-self: flex-end;
  padding: 0.6rem;
  margin: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: #000;
}

button {
  width: 30%;
  padding: 0.3rem 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  cursor: pointer;
}

#button__stay {
  background-color: #f2bf40;
  color: #fff;
  border-color: #daa520;
  transition: box-shadow 0.4s ease-in;
}

#button__hit {
  background-color: #c20027;
  color: #f2bf40;
  border-color: #daa520;
}

button:hover {
  opacity: 0.9;
}
